<div class="page-header">
	<h1>Crear <small>Post</small></h1>
</div>
<div class="col-md-6">
	
<form name="createPostForm">
	<div class="form-group" ng-class="{
		'has-error' : createPostForm.postName.$dirty && createPostForm.postName.$invalid,
		'has-success' : createPostForm.postName.$valid

	}">
		<label>Titulo</label>
		<input ng-model="post.title" name="postName" type="text" class="form-control" placeholder="Titulo" required="required"> 
	</div>
	<div class="form-group">
		<label>Comentario</label>
		<textarea ng-model="post.body" class="form-control" rows="3" placeholder="Comentario" required="required"></textarea>
	</div>
	<div class="form-group">
		<label>Usuario</label>
		<select ng-model="post.userId"  class="form-control" required="required">
			<option ng-repeat="user in users" value="{{user.id}}">
				{{user.name}}
			</option>
		</select>
	</div>
  <button ng-click="savePost()" ng-disabled="createPostForm.$invalid" type="submit" class="btn btn-default">Guardar</button>
</form>
</div>